@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");

html {
  height: 100%;
}

body {
  height: 100%;
  background: #bc8f8f;
  color: #cd5c5c;
  font-family: "Lora", serif;
}

#section {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-src {
  border-radius: 10px;
  margin: 40px;
  max-width: 600px;
}

input {
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' opacity='0.4' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat 13px center;
  border: 1px solid #cd5c5c;
  color: #e2e2e2;
  padding: 10px 4px 10px 40px;
  width: 150px;
}

input::placeholder {
  color: #cfcfcf;
}
